<p id="notice"><%= notice %></p>


<h1>Turtles</h1>

<table>
  <thead>
  <tr>

    <th>Name</th>
    <th>Sex</th>
    <th>Species</th>
    <th>Fixation date</th>
    <th>Birthday</th>
    <th>Researcher</th>
    <th>Description</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @turtles.each do |turtle| %>

    <tr>
      <td><%= turtle.name %></td>
      <td><%= turtle.sex %></td>
      <td><%= turtle.species %></td>
      <td><%= turtle.fixation_date %></td>
      <td><%= turtle.birthday %></td>
      <td></td>
      <td><%= turtle.description %></td>
      <td><%= link_to 'Show', turtle %></td>
      <% if turtle.user == current_user || super_user %>
        <td><%= link_to 'Edit', edit_turtle_path(turtle) %></td>
        <td><%= link_to 'Destroy', turtle, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      <% end %>
    </tr>


  <% end %>
  </tbody>
</table>

<br>

<% if current_user %>
  <%= link_to 'New Turtle', new_turtle_path %>

<% else %>
  <!-- <script type="text/javascript">
  window.location = "<%= home_path %>";
</script> -->
<% end %>
