<p id="notice"><%= notice %></p>


<h1 class="display-4 text-center">Turtles Datum</h1>
<br/>
<table class="table">
  <thead class="thead-dark">
  <th scope="col">Turtle</th>
  <th scope="col">Temperature</th>
  <th scope="col">Light</th>
  <th scope="col">Depth</th>
  <th scope="col">Latitude</th>
  <th scope="col">Longitude</th>
  <th scope="col" colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @turtle_data.each do |turtle_datum| %>
    <tr>
      <th scope="row"><%= turtle_datum.turtle_id %></th>
      <td><%= turtle_datum.temperature %></td>
      <td><%= turtle_datum.light %></td>
      <td><%= turtle_datum.depth %></td>
      <td><%= turtle_datum.latitude %></td>
      <td><%= turtle_datum.longitude %></td>
      <td>
        <% if super_user %>
        <%= link_to 'Show', turtle_datum, class: "btn btn-info btn-sm " %>|
          <%= link_to 'Edit', edit_turtle_datum_path(turtle_datum), class: "btn btn-primary btn-sm " %> |
          <%= link_to 'Destroy', turtle_datum, class: "btn btn-danger btn-sm ", method: :delete, data: {confirm: 'Are you sure?'} %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br/>

<div class="form-mine">
  <%= link_to 'New Turtle Datum', new_turtle_datum_path, class: "btn btn-success form-control" %>
</div>
