<div class="form-mine">
  <h1 class="display-4 text-center" ><b>Show User</b></h1>
<%= form_with  model: @user do |form| %>
  <fieldset disabled>

  <div class="form-group">
    <%= form.label "Image", class: "control-label" %>
    <br/>
    <% if @user.image.attached? %>
      <img class="img-thumbnail"  style="width:200px;margin-right: 10px"  src="<%= (url_for(@user.image)) %>">
    <% else %>
      <%= image_tag("defaultProfile.png", :class => "img-thumbnail", :style => "width:200px;margin-right: 10px") %>
      <!-- <image src="defaultProfile.png"> -->
    <% end %></br>
  </div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :password %>
    <%= form.password_field :password, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :sex %>
    <%= form.select :sex, ['','Male', 'Female', 'Other'],{} ,{class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :occupation %>
    <%= form.text_field :occupation, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :institution %>
    <%= form.text_field :institution, class: "form-control"  %>
  </div>
  </fieldset>
<% end %>
  <br/>
  <%= link_to 'Show users', users_path,class: "btn btn-light form-control" %>
</div>