<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @user.sex %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @user.photo_id %>
</p>

<p>
  <strong>Registration date:</strong>
  <%= @user.registration_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @user.occupation %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @user.institution %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
