<p id="notice"><%= notice %></p>

<p>
  <strong>Turtle:</strong>
  <%= @turtle_datum.turtle_id %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @turtle_datum.temperature %>
</p>

<p>
  <strong>Light:</strong>
  <%= @turtle_datum.light %>
</p>

<p>
  <strong>Depth:</strong>
  <%= @turtle_datum.depth %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @turtle_datum.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @turtle_datum.longitude %>
</p>

<%= link_to 'Edit', edit_turtle_datum_path(@turtle_datum) %> |
<%= link_to 'Back', turtle_data_path %>
