<p id="notice"><%= notice %></p>

<h1>Collected Data</h1>

<table>
  <thead>
    <tr>
      <th>Turtle</th>
      <th>Temperature</th>
      <th>Deep</th>
      <th>Light</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @collected_data.each do |collected_datum| %>
      <tr>
        <td><%= collected_datum.turtle %></td>
        <td><%= collected_datum.temperature %></td>
        <td><%= collected_datum.deep %></td>
        <td><%= collected_datum.light %></td>
        <td><%= collected_datum.latitude %></td>
        <td><%= collected_datum.longitude %></td>
        <td><%= collected_datum.date %></td>
        <td><%= link_to 'Show', collected_datum %></td>
        <td><%= link_to 'Edit', edit_collected_datum_path(collected_datum) %></td>
        <td><%= link_to 'Destroy', collected_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Collected Datum', new_collected_datum_path %>
