<%= form_with(model: turtle, local: true) do |form| %>
  <% if turtle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(turtle.errors.count, "error") %> prohibited this turtle from being saved:</h2>

      <ul>
      <% turtle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :sex %>
    <%= form.text_field :sex %>
  </div>

  <div class="field">
    <%= form.label :specie %>
    <%= form.text_field :specie %>
  </div>

  <div class="field">
    <%= form.label :module_installation_date %>
    <%= form.datetime_select :module_installation_date %>
  </div>

  <div class="field">
    <%= form.label :estimated_birthday %>
    <%= form.date_select :estimated_birthday %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
