<p id="notice"><%= notice %></p>

<h1>Turtles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Sex</th>
      <th>Specie</th>
      <th>Module installation date</th>
      <th>Estimated birthday</th>
      <th>User</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @turtles.each do |turtle| %>
      <tr>
        <td><%= turtle.name %></td>
        <td><%= turtle.sex %></td>
        <td><%= turtle.specie %></td>
        <td><%= turtle.module_installation_date %></td>
        <td><%= turtle.estimated_birthday %></td>
        <td><%= turtle.user %></td>
        <td><%= turtle.description %></td>
        <td><%= link_to 'Show', turtle %></td>
        <td><%= link_to 'Edit', edit_turtle_path(turtle) %></td>
        <td><%= link_to 'Destroy', turtle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Turtle', new_turtle_path %>
