<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @turtle.name %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @turtle.sex %>
</p>

<p>
  <strong>Specie:</strong>
  <%= @turtle.specie %>
</p>

<p>
  <strong>Module installation date:</strong>
  <%= @turtle.module_installation_date %>
</p>

<p>
  <strong>Estimated birthday:</strong>
  <%= @turtle.estimated_birthday %>
</p>

<p>
  <strong>User:</strong>
  <%= @turtle.user %>
</p>

<p>
  <strong>Description:</strong>
  <%= @turtle.description %>
</p>

<%= link_to 'Edit', edit_turtle_path(@turtle) %> |
<%= link_to 'Back', turtles_path %>
