

  <h1 class="display-4 text-center"><b>Search Results</b></h1>
  <p>The search for <%= @search_result%> resulted in <%= @users.length %> users and <%= @turtles.length %> turtles. </p>

<% if @users.length > 0  %>
Users
<%= render :partial => 'users/table' %>
<%end%>

<% if @turtles.length > 0 %>
Turtles
<%= render :partial => 'turtles/table' %>
<%end%>

